<a href="https://colab.research.google.com/github/heyroha/Python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")#ctrl+enter 현재 셀 실행
# ctrl+/ 토글
# shift+enter 하면 다음셀로 넘어감
# alt+enter 하면 실행하고 밑에다가 셀을 새로 만듦
# esc 하면 방향키 위아래로 셀 이동. 엔터치면 다시 코드작성 a는 위의셀. b는 아래셀
# ctrl+m,d 하면 셀 삭제/ ctrl+m,z 하면 셀 수준 실행취소

Hello World!

#**마크다운**
####마크다운은 일반 텍스트 기반의 경량 마크업 언어. 
#####(마크업이란 문서 내에 끼워 넣는 일련의 부호로 구성되며 대표적인 마크업 언어로는 HTML과 SGML이 있다.)

EX>
# 큰 제목 1
## 그 다음으로 큰
### **볼드**

- 1
 - 1-1
   - 1-1-1
   - 1-1-2
   >ㅎㅎ
   >>ㅎㅎㅎ

$y=x$

```python
print("hello world")
```

#**파이썬은 계산기다!**
- 자료형(type)/append

In [ ]:
type(3.6)#type 을 사용하면 변수형을 알려줌
type(2)

int

In [ ]:
4//2 #2.0 은 "두번째"라는 걸 못 나타내서 이런거 필요

2

In [ ]:
5//2 #얘는 사실 몫을 뱉어주는것

2

In [ ]:
int(5/2)

2

In [ ]:
int(2.9)#반올림이 아니라 소수점 아래 삭제다

2

In [ ]:
15%2 #반면에 이건 나머지를 알려줌. 유식한 말로 modulo 연산

1

In [ ]:
2**10 #2의10승 2^10 이 아님

1024

In [ ]:
print(0b011) #0b는 2진수로 써줘야함2진수를 10진수로
print(0xA) #그냥 하면 마지막것만 보여줘서 둘 다 print로 붙여줌

3
10

In [ ]:
# 1a=10 #변수명 앞에는 숫자가 올 수 없다
# del=a 하면 변수 a 삭제

In [ ]:
a=1; b=2
c=a+b
print(c)

3

In [ ]:
print(bool(1)) #bool 이라는 것은 true와 false 를 말함#
x=1
print(type(x>1))#true와 false로 나타내기 때문에 bool

True
<class 'bool'>

In [ ]:
a=[1,2,3];b=[3,4,5]
print(a+b) #더하는 게 아니고 쌓는 것이다.

[1, 2, 3, 3, 4, 5]

In [ ]:
a=[4,"ㅋ",6] #뭐든 들어간다.
print(a)

[4, 'ㅋ', 6]

In [ ]:
c=[]#빈 리스트
c.append(1)
c.append("하하")
c.append(3)
print(c)

[1, '하하', 3]

#**range는 반복문의 친구**

In [ ]:
range(10)
a=list(range(10)) #range를 list로 바꿔줌
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
b=list(range(1,11)) #1부터 시작 그리고 11미만까지지
print(b)
c=list(range(1,11,2)) #1부터 시작 11미만까지 2 간격
print(c)
print(list(range(10,0,-1))) #10부터 시작 0 초과까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#**in은 있냐? 를 물어봄**

In [ ]:
a=list(range(10))
b=tuple(range(10))
c=range(10)
print(1 in a) #a에 1이 있는가?
print(1 not in b) #b에 1이 없는가?
print(15 in b)

True
False
False

#**리스트의 기본 연산과 인덱싱**

In [ ]:
a=[1,2,3]
b=a+a
c=a*3
d=a*(12//4) # *(곱하기)연산자는 반복하는 것
print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a=[1,2,3]
print(len(a)) #len 은 길이length를 알려줌

3

In [ ]:
s="hello"
s2=["hello"]
print(s)
print(len(s)) #len 안에 문자열이 들어오면 문자열의 개수를 알려주고
#len 안에 리스트가 들어오면 리스트에 들어있는 항목의 개수를 알려준다
print(len(s2))

hello
5
1

In [ ]:
a=[1,2,3]
print(a[0]) #a[i]:i번째의 값을 가리킴. 이를 인덱싱이라고 함.
print(a[0],a[1],a[2])
print(a[-1])#-1은 마지막 것을 가리킨다. 0이 첫번짼데 뒤로 뺑 돌아가서 -1로 한다.
print(a[-1],a[-2],a[-3]) #음수로 마지막걸 표현 가능하다.

1
1 2 3
3
3 2 1

In [ ]:
r=range(0,10,2)
print (r[0],r[1],r[2])

0 2 4

In [ ]:
a=[1,2,3]
a[0]=3
a[1]=3
a[2]=110
print(a) #mutable

[3, 3, 110]

In [ ]:
a=(1,2,3)
a[0]=1 #list는 위처럼 수가 인가가 되지만 튜플은 인가가 되지 않음
print(a) #immutable 즉, 수가 변경되지 않음

TypeError: ignored

In [ ]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

##**굉장히 많이 쓰이는 슬라이스**

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[0:3] #0부터 3미만번째까지 긁어오기
print(b)

[1, 2, 3]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[1:3])
print(a[3:-1])
print(a[1:7:2]) #8은 비포함
print(a[:5])#첫번째 자리를 비우면 처음 것부터
print(a[5:]) #두번째 자리를 비우면 마지막까지

[2, 3]
[4, 5, 6, 7, 8, 9]
[2, 4, 6]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[::])#세번째걸 비워놓으면 디폴트로 1씩 증가
#즉a[:]와 동일

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a=[1,2,3,4,5,6,7,8,9,10]
print()

#**딕셔너리**

In [2]:
dic1={"a":1,"b":2,100:"5",200:"ㅎㅎ"} #중괄호다. 콜론(:)이 들어간다. 왼쪽이 키 오른쪽이 값.
#키:값 이고 숫자 문자 뭐든 키, 값이 될 수 있다.
#키에는 수정할 수 없는 튜플은 되고, 리스트는 안됨
#값에는 튜플도 되고 리스트도 됨
print(dic1)
print(dic1["a"])
print(len(dic1))#네쌍이라서 4
print(dic1.keys())
print(dic1.values())
print(dic1.items())

{'a': 1, 'b': 2, 100: '5', 200: 'ㅎㅎ'}
1
4
dict_keys(['a', 'b', 100, 200])
dict_values([1, 2, '5', 'ㅎㅎ'])
dict_items([('a', 1), ('b', 2), (100, '5'), (200, 'ㅎㅎ')])

In [6]:
print(list(zip(["a","b"],[1,2])dic2))
a=dict(zip(["a","b"],[1,2]))
print(a)#한쪽엔 키만 모아놓고, 값만 모아놔서 zipper처럼 한번에 묶어준다는 뜻.

[('a', 1), ('b', 2)]
{'a': 1, 'b': 2}

In [11]:
dic1={"a":1,"b":2,"c":3,"d":4}
dic1["a"]=100; dic1["b"]=200
print(dic1)
dic1["e"]="새로운키"
print(dic1)
print("a" in dic1) #"a"라는 키가 있는가
print(100 in dic1) #100 이라는 키가 있는가

{'a': 100, 'b': 200, 'c': 3, 'd': 4}
{'a': 100, 'b': 200, 'c': 3, 'd': 4, 'e': '새로운키'}
True
False

#**조건문**

In [13]:
a=5
print(a>3)
print(a<3)
print(a==5)

if a>3:
    print("3보다 큽니다.")

if a<3:
    print("3보다 작습니다.") #해당되지 않는 경우 그냥 지나감.

if a==5:
    print("5와 같습니다.")

True
False
True
3보다 큽니다

In [17]:
a=5
if a==5:
    print("5와")
    print("같습니다") #파이썬에서는 들여쓰기가 c언어의 {}와 같다.

#if a==5:
#    print("5와")
#        print("같습니다") #이는 들여쓰기가 달라서 오류가 된다.

if a==5:
    print("5와 같습니다.")
print("if문 밖으로 나옴. 여기서부터 계속 실행된다.")

5와
같습니다
5와 같습니다.
if문 밖으로 나옴. 여기서부터 계속 실행된다.

In [19]:
x=15
if x>10:
    print("10보다 크다.")
    if x==15:
        print("15입니다.")
    if x==20:
        print("20 입니다.")

10보다 크다.
15입니다.

In [ ]:
x=15
if x<10: #애초에 여길 통과 못해서 이 안에 if x==15: 가 있더라도 실행되지 않음!
    print("10보다 크다.")
    if x==15:
        print("15입니다.")
    if x==20:
        print("20 입니다.")

In [21]:
x=15
if x<10:
    print("x는 10보다 작습니다(10미만)")
else:
    print("그 이외 (10이상)")
    print("else도 들여쓰기 영역 모두 실행")
    #else는 조건문 사용하지 않음

그 이외 (10이상)
else도 들여쓰기 영역 모두 실행

In [22]:
if True:
    print("여기 들어온다")
else:
    print("여기 안 들어와야함")
if False:
    print("여기 안들어와야함")
else:
    print("여기 들어온다")

여기 들어온다
여기 들어온다

In [25]:
if 1: #bool은 0만 아니면 숫자는 다 True이다.
    print("0만 아니면 True 취급니다")
else:
    print("여기 안 들어와야함")
if 0:
    print("0은 False 취급")
else:
    print("따라서 여기 들어온다")

0만 아니면 True 취급니다
따라서 여기 들어온다

In [27]:
if "ㅗ": 
    print("글자가 있으면 True 취급한다")
else:
    print("여기 안 들어와야함")
if "":
    print("빈 문자는 False 취급")
else:
    print("따라서 여기 들어온다")

글자가 있으면 True 취급한다
따라서 여기 들어온다

In [30]:
a=-1
b=-1
if a>0 or b>0:
    print("둘 중 하나라도 맞으면 여기로")
else:
    print("둘 다 아니라면 여기로")

둘 다 아니라면 여기로

In [33]:
x=10
if 0 < x < 20:
    print("부등호 연달아 써도 된다")

부등호 연달아 써도 된다

In [35]:
x=25
if x < 10:
    print("10보다 작은가?")
elif x<50:  #else+if
    print("아니면 50보다 작은가?")

아니면 50보다 작은가?

In [39]:
x=150
if x < 10: #5일경우 가장 먼저 본 애를 실행.
    print("10보다 작은가?")
elif x<100:  #else+if
    print("아니면 100보다 작은가?")
else:
    print("10보다 작지도 100보다 작지도 않은가?")

10보다 작지도 100보다 작지도 않은가?

In [44]:
x==6
if x==1:
    print("1에 해당하는 무언가 실행")
elif x==2: #elif는 개수 제한이 없다.
    print("2에 해당하는 무언가 실행")
elif x==3:
    print("3에 해당하는 무언가 실행")
elif x==4:
    print("4에 해당하는 무언가 실행")
elif x==5:
    print("5에 해당하는 무언가 실행")    
else:
    print("다른숫자") #else는 개수 상관 없음.

다른숫자

#**반복문**

In [ ]:
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")

In [46]:
for i in range(5):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!

In [ ]:
for i in range(5): #range(5) <-0,1,2,3,4로부터 i 라는 이름으로 하나씩 꺼내서 그 i 에 대해 아래를 실행해라.
    print(i)

In [48]:
for i in range(5,12,2):
    print(i)

5
7
9
11

In [49]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [52]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [53]:
list(reversed(range(10))) #뭔가의 형태를 알고싶으면 list를 사용해서 알아보기

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [56]:
i=0
while i<5: #i가 5보다 작은 동안에 반복적으로 실행한다.
    print(i)

    i+=1
print()
print("i=",i)

0
1
2
3
4

i= 5

In [59]:
i=0
while True:
    print(i)
    i+=1 #무한루프
    if i ==5:
        break

0
1
2
3
4

In [60]:
for i in range(10):
    if i % 2 ==0:
        continue #건너뛰어라 #continue만나면 그 밑(print)으로는 안 하고 하던 반복 마저 들어감.
    print(i)

1
3
5
7
9

In [62]:
a=[1,2,3,4,5]
for i in range(len(a)): #len(a) 는 5 range(5) 안에서 반복
    print(i,"번째에",a[i],"가 들어있어요.")

0 번째에 1 가 들어있어요.
1 번째에 2 가 들어있어요.
2 번째에 3 가 들어있어요.
3 번째에 4 가 들어있어요.
4 번째에 5 가 들어있어요.

#**for문과 함께 자주 쓰이는 enumerate**

In [63]:
a=[1,2,3,4,5]
j=1
for i in a:
    print(j,"번째에",i,"가 들어있어요.")
    j+=1

1 번째에 1 가 들어있어요.
2 번째에 2 가 들어있어요.
3 번째에 3 가 들어있어요.
4 번째에 4 가 들어있어요.
5 번째에 5 가 들어있어요.

In [64]:
a=[1,2,3,4,5]
for i,val in enumerate(a, start=1):
    print(i,"번째에",val,"가 들어있어요.")

1 번째에 1 가 들어있어요.
2 번째에 2 가 들어있어요.
3 번째에 3 가 들어있어요.
4 번째에 4 가 들어있어요.
5 번째에 5 가 들어있어요.

##반복문 과제

In [92]:
#mine
a=["*"]
j=1
while j<5:
    for i in a :
        print(i*j)
    j+=1
    #문자열도 곱하기가 됨.

*
**
***
****

In [98]:
#sol
for i in range(1,5):
    print("*"*i)

#또는
i=1
while i<5:
    print("*"*i)
    i+=1

*
**
***
****
*
**
***
****

#**리스트 심화**

[1, 2, 3, 4]